<h1 class="jumbotron">Stock Graph</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <form [formGroup]="form">
        <div class="form-group">
          <label>
            Symbol Name
            <input class="form-control" type="text" formControlName="symbol" name="symbol">
          </label>
        </div>
        <div class="form-group">
          <label>
            Start Date
            <input class="form-control" type="date" formControlName="startDate" name="startDate">
          </label>
        </div>
        <div class="form-group">
          <label>
            End Date
            <input class="form-control" type="date" formControlName="endDate" name="endDate">
          </label>
        </div>
        <div class="form-group">
          <label>
            Email
            <input class="form-control" type="email" formControlName="email" name="email">
          </label>
        </div>
      </form>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col">
      <button class="btn btn-primary" (click)="openModal()" [disabled]="form.invalid">Open Modal</button>
    </div>
  </div>
</div>


<ng-template #modalTemplate>
  <div class="card">
    <h1 class="card-header">{{results.dataset_code}}</h1>
    <div class="card-body">
      <google-chart
        *ngIf="results.data && results.data.length > 0"
        [type]="'CandlestickChart'"
        [data]="results.data">
      </google-chart>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col">
          <a class="btn btn-primary" [href]="getMailLink()">Send Email</a>
        </div>
        <div class="col">
          <button class="btn btn-info" (click)="modalRef.hide()" [disabled]="!results">Close</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
